
.footer{
    width: 100%;
    width: 1024px;
    font-size: 16px;
}.fLists{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fListItem{
    color: #003580;
    cursor: pointer;
}
.fText{
    color: #003580;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}